<!-- views/about.ejs -->
<%- include('header') %>

<h2>About Me</h2>
<p>I am a web developer with a passion for creating beautiful and functional websites. I have a Bachelor's degree in Computer Science and have been working in the industry for 5 years. My expertise lies in HTML, CSS, JavaScript, and Node.js. I am constantly learning and exploring new technologies to improve my skills and deliver the best results for my clients.</p>

<%- include('footer') %>
